.benefit {
    padding-top: 100px;
    padding-bottom: 100px;
    &-top-wrapper {
        padding-top: 100px;
        padding-bottom: 317px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background: #2C343E;
        border-radius: 10px;
        .top-wrapper-title {
            margin-bottom: 32px;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #FEFCF7;
            text-align: center;
        }
        .top-wrapper-description {
            width: 540px;
            margin: 0 auto;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
            text-align: center;
            opacity: 0.8;
        }
    }
    &-cards {
        padding: 0 98px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: -160px;
        .benefit-card {
            width: 350px;
            padding: 72px 0 48px 0;
            margin-right: 30px;
            background: #0E8784;
            border-radius: 8px;
            text-align: center;
            .benefit-card-title {
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                color: #FEFCF7;
            }
            .benefit-card-description {
                width: 255px;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                margin: 0 auto;
                color: #FEFCF7;
                opacity: 0.7;
            }
        }
        .benefit-card:nth-child(3n) {
            margin-right: 0;
        }
        .bean::before {
            content: "";
            width: 72px;
            height: 72px;
            margin-bottom: 56px;
            display: inline-block;
            background-image: url(../../images/benefit-bean-1x.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @media
            only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (   min--moz-device-pixel-ratio: 2),
            only screen and (     -o-min-device-pixel-ratio: 2/1),
            only screen and (        min-device-pixel-ratio: 2),
            only screen and (                min-resolution: 192dpi),
            only screen and (                min-resolution: 2dppx) {
                background-image: url(../../images/benefit-bean-2x.png);
                background-repeat: no-repeat;
                background-position: top;
                background-size: contain; 
            }
        }
        .benefit::before {
            content: "";
            width: 72px;
            height: 72px;
            margin-bottom: 56px;
            display: inline-block;
            background-image: url(../../images/benefit-exclusive-1x.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @media
            only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (   min--moz-device-pixel-ratio: 2),
            only screen and (     -o-min-device-pixel-ratio: 2/1),
            only screen and (        min-device-pixel-ratio: 2),
            only screen and (                min-resolution: 192dpi),
            only screen and (                min-resolution: 2dppx) {
                background-image: url(../../images/benefit-exclusive-2x.png);
                background-repeat: no-repeat;
                background-position: top;
                background-size: contain; 
            }
        }
        .shipping::before {
            content: "";
            width: 72px;
            height: 72px;
            margin-bottom: 56px;
            display: inline-block;
            background-image: url(../../images/benefit-shipping-1x.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @media
            only screen and (-webkit-min-device-pixel-ratio: 2),
            only screen and (   min--moz-device-pixel-ratio: 2),
            only screen and (     -o-min-device-pixel-ratio: 2/1),
            only screen and (        min-device-pixel-ratio: 2),
            only screen and (                min-resolution: 192dpi),
            only screen and (                min-resolution: 2dppx) {
                background-image: url(../../images/benefit-shipping-2x.png);
                background-repeat: no-repeat;
                background-position: top;
                background-size: contain; 
            }
        }
    }
}







